@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins"),
       url("./fonts/PoppinsRegular.woff2") format("woff2"),
       url("./fonts/PoppinsRegular.woff") format("woff");
}

@font-face {
  font-family: "Neuropol";
  font-weight: 500;
  font-style: normal;
  src: local("Preahvihear"),
       url("./fonts/NeuropolMedium.woff2") format("woff2"),
       url("./fonts/NeuropolMedium.woff") format("woff");
}

:root {
  --font-family: "Neuropol", "Arial", sans-serif;
  --second-family:"Poppins", "Arial", sans-serif;
  --white: #fff;
  --dark-purple: #11071f;
  --violet: #7127ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid; */
}

.body {
  font-family: var(--font-family);
  font-style: normal;
  min-width: 320px;
  /* width: 320px; */
  width: 100vw;
  /* height: 100vh; */
  max-width: 1024px;
  margin: 0 auto;
  /* background-color: #11071f; */
  /* background-image: radial-gradient(50% 50% at 50% 50%, rgb(118, 60, 172) 0%, rgb(50, 15, 133) 100%); */
  background-color: #11071f;
  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(113,39,186,1) 0%, rgba(17,7,31,1) 51%),
  radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(113,39,186,1) 0%, rgba(17,7,31,1) 51%);
  background-size: 400px 400px, 200vw 200vw;
  background-position: 30vw -140px, -100vw 90px;
  background-repeat: no-repeat, no-repeat;
  color: white;
}

/* .body-wrap {
  width: 320px;
  margin: 0 auto;
} */

.header__title {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  width: 320px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__title span:first-child {
  align-self:flex-start;
}

.header__title span:nth-child(2) {
  align-self: center;
}

.header__title span:last-child {
  align-self: flex-end;
}

.main {
  margin: 0 auto;
  position: relative;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
}

.about__avatar {
  position: relative;
}

.about__avatar img {
  width: 223px;
  height: 223px;

  border-radius: 0px 96px 0px 96px / 0px 96px 0px 96px;
}

.about__avatar::before {
  content: "";
  position: absolute;
  inset: -5px;
  transform: translate(10px, 8px);
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgb(118, 60, 172) 0%, rgb(50, 15, 133) 100%);
  filter: blur(40px);
  border-radius: inherit;
}

.about__wrap-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  font-size: 12px;
}

.about__link {
  color: var(--violet);
  text-decoration: none;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.exsamplesOfWorks__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.footer {

}

.footer__wrap-link {
  padding: 30px 20px;
  text-align: right;
}

.footer__wrap-link a {
  font-size: 12px;
  text-decoration: none;
  color: var(--violet);
}



/* Viewport  720px*/

@media (min-width: 720px) {
  .header__title {
    display: block;
    width: 720px;
    text-align: center;
    font-size: 26px;
    padding: 40px;
  }

  .about__wrap-text {
    font-size: 16px;
  }

  .about__link {
    font-size: 18px;
  }

  .exsamplesOfWorks {
    padding: 0 40px;
  }

  .exsamplesOfWorks__title {
    font-size: 20px;
  }

  .exsamplesOfWorks__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    height: 666px;
    overflow: scroll;
  }

  /* https://www.dev-notes.ru/articles/css/guide-styling-css-scrollbars/ */

  /* Define the scrollbar style */
/* .exsamplesOfWorks__wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

/* Define the thumb style */
/* .exsamplesOfWorks__wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #4d7fff 0%, #1a56ff 100%);
  border-radius: 5px;
} */

/* Define the track style */
/* .exsamplesOfWorks__wrapper::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
} */

/* Define the button style */
/* .exsamplesOfWorks__wrapper::-webkit-scrollbar-button {
  background-color: #4d7fff;
  border-radius: 5px;
} */

/* Define the button style when being hovered over */
/* .exsamplesOfWorks__wrapper::-webkit-scrollbar-button:hover {
  background-color: #999999;
} */

  .footer__wrap-link {
    padding: 30px 40px;
  }
}

@media (min-width: 1024px) {

  .body {}

  .header__title {
    width: 100%;
    padding: 40px;
    display: block;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
  }

  .about {
    padding: 0 80px;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__avatar {
    align-self: start;
  }

  .about__avatar img {
    width: 300px;
  height: 300px;
  }

  .about__wrap-text {
    font-size: 18px;
    align-self: end;
  }

  .about__link {
    font-size: 20px;
  }
}
